.text-container {
    border: 10px solid white;
    padding: 20px;
    border-radius: 5px;
    
    background-color: white;
  }

  .textbox {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }